/*Styling for App.jsx*/
nav {
    display: flex;
    align-items: center;
    background-color: gray;
    height: 90px;
    padding: 30px 25px;
    margin: none;
}

.welcome_text {
    margin-right: auto;
    font-weight: 700;
    font-size: 25px;
}

.nav_name {
    color: lightgray;
    font-weight: bold;
}

.counter {
    display: block;
    margin: auto;
    border-radius: 25%;
    width: 100px;
    background-color: darkgray;
}

.counter_count,
.counter_total {
    text-align: center;
}

.counter_op {
    width: 50%;
    background-color: brown;
    border-radius: 25%;
    border: none;
}

.total_add {
    width: 100%;
    background-color: brown;
    border-radius: 25%;
    border: none;
}
