/*Styling for App.jsx*/
nav {
    display: flex;
    align-items: center;
    background-color: gray;
    height: 90px;
    padding: 30px 25px;
    margin: none;
}

.welcome_text {
    margin-right: auto;
    font-weight: 700;
    font-size: 25px;
}

.nav_name {
    color: lightgray;
    font-weight: bold;
}
